version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      days: 7
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      actions:
        patterns:
          - "*"
    labels:
      - "maintenance"
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      days: 7
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      actions:
        patterns:
          - "*"
    labels:
      - "maintenance"
      - "dependencies"
